<div id="ordersWrapper{{ store.store_id }}"></div>
<script>
$(document).ready(function(){
	$.ajax({
		url: "index.php?route={{ modulePath }}/getcustomers&store_id={{ store.store_id }}&{{ tokenString }}={{ token }}&page=1",
		type: 'get',
		dataType: 'html',
		success: function(data) {		
			$("#ordersWrapper{{ store.store_id }}").html(data);
		}
	});
});
</script>
